## -----------------------------------------------------------------------------
## CMDX Utility                                                cmdx/[.gitignore]
## (c) balarabe@protonmail.com                                    License: GPLv3
## -----------------------------------------------------------------------------

## temp. files and drafts
*.go_
*`*
__*

## backup files
*.go~

## logs, etc.
*.log
cover.out

## auxiliary files
*.bat
*.sh
.idea

## binary files
*.exe
*.zip
/cmdx
app
debug.test

## end
