# ------------------------------------------------------------------------------
# (c) balarabe@protonmail.com                                     License: GPLv3
# :v: 2019-03-14 00:39:42 3156B6                               cmdx/[.gitignore]
# ------------------------------------------------------------------------------

# ignore temp. files and drafts
*.go_
*`*
__*

# ignore backup files
*.go~

# ignore logs, etc.
*.log
cover.out

# ignore auxiliary files
*.bat
*.sh
.idea
/.vscode/launch.json

# ignore binary files:
*.exe
*.exe*
*.zip
/cmdx
app

#end
