# ------------------------------------------------------------------------------
# (c) balarabe@protonmail.com                                     License: GPLv3
# :v: 2018-04-01 11:59:44 DEE944                               cmdx/[.gitignore]
# ------------------------------------------------------------------------------

# ignore temp. files and drafts
*.go_
*`*
__*

# ignore backup files
*.go~

# ignore logs, etc.
*.log
cover.out

# ignore auxiliary files
*.bat
*.sh
.idea

# ignore binary files:
*.exe
*.exe*
*.zip
app

#end
